#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=django-housekeeping

%:
	dh $@ --with python2,python3 --buildsystem=pybuild


pn = $(shell dpkg-parsechangelog | grep ^Source  | cut -d\  -f2)
ov = $(shell dpkg-parsechangelog | grep ^Version | cut -d\  -f2 | cut -d- -f1)
git-orig-source:
	dh_testdir
	test -d .git && \
	git ls | grep -v debian | tar -T - --xform="s,^\(.*\),$(pn)-$(ov)/\1," -cf - | \
	xz -9c > ../$(pn)_$(ov).orig.tar.xz || true

get-orig-source:
	dh_testdir
	test -e ../$(pn)_$(ov).orig.tar.gz || \
		uscan --force-download
